# This action will push version-tagged and latest images to Docker Hub
# This requires three secrets to be ste, the first two should be stored in Organization
# Secrets, the last is a per-repository secret.
#   DOCKER_HUB_USERNAME: The Docker Hub username
#   DOCKER_HUB_ACCESS_TOKEN: Instead of a password
#   DOCKER_REPO_NAME: The full image name as it appears on Docker Hub

name: GitHub Release & Push to Docker Hub

on:
  push:
    tags: ["v*"]

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
  DOCKER_REPO_NAME: ${{ secrets.DOCKER_REPO_NAME }}

jobs:
  Deploy:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up REPO and TAG environment vars
        run: |
          echo "REPO=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_SHA:0:6}" >> $GITHUB_ENV

      - name: This run was triggered by a version tag, reset the $TAG variable to the tag name
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      # - name: Build image from Dockerfile
      #   run: docker build . --tag ${DOCKER_REPO_NAME}

      # - name: "Tag image with version"
      #   run: docker tag ${DOCKER_REPO_NAME} ${DOCKER_REPO_NAME}:${TAG}

      - name: Create GitHub release
        if: ${{ contains(github.ref, 'refs/tags/') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${TAG}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: ${{ DOCKER_REPO_NAME }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # tags: ${DOCKER_REPO_NAME}:latest,${DOCKER_REPO_NAME}:${TAG}
